<h1> Homepage </h1>

<ul>
  <li>
    <a href="/directors">
      All Directors 
    </a>
  </li>

  <li>
    <a href="/movies">
      All Movies 
    </a>
  </li>



  <li>
    <a href="/actors">
      All Actors 
    </a>
  </li>

  <li>
    <a href="/characters">
      All Characters 
    </a>
  </li>

</ul>